---
interface Props {
  name: string;
  tagName?: 'button' | 'a';
  type?: 'open' | 'close' | 'toggle';
  class?: string;
}

const { name, tagName = 'button', type = 'toggle', class: className, ...rest } = Astro.props;

/*
  <ModalTrigger name="MODAL_NAME" tagName="" type="">
    ----- 内部 -----
  </ModalTrigger>
*/
---

{
  tagName === 'button' ? (
    <button type="button" class:list={[className, 'c-modal-toggle']} data-modal={name} data-modal-module="button" data-modal-type={type} aria-controls={`modal_${name}`} {...rest}>
      <slot />
    </button>
  ) : (
    <a href="#" class:list={[className, 'c-modal-toggle']} data-modal={name} data-modal-module="button" data-modal-type={type} aria-controls={`modal_${name}`} {...rest}>
      <slot />
    </a>
  )
}

<style lang="scss">
  .c-modal-toggle {
    display: inline-block;
    pointer-events: all;

    * {
      pointer-events: none;
    }
  }
</style>
